@model List<examination_system.Models.Exam>

@{
    ViewBag.Title = "Exams";
}


<div style="margin:0 70px">
    <h2 class="text">Exams</h2>
    <span class="text lbel">search Exam</span>
    <input id="search" class="text input" oninput="Getexam()" type="text" />
</div>
<div style="width: 100%; height: auto;justify-content:center; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
    <div id="all" style="width: 80%; height: auto;justify-content:center; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
        @foreach (var exam in Model)
        {
            if (exam != null)
            {
                @Html.Partial("_exam", exam, ViewData);
            }
        }
        @if (User.IsInRole("professor") || User.IsInRole("superadmin"))
        {
            <div class="pnladd col-md-3" style="height:377.844px" onclick="document.getElementById('add').click()">
                <a href="~/Exam/Add" id="add"></a>
                <img src="~/Resources/Account/add.svg" class="Img" />
                <div>ADD NEW</div>
            </div>
        }
    </div>
    </div>

    @section Scripts {
        <script>
            function deleteexam(id) {
                alert("ARE YOU SURE TO DELETE USER")
                $.ajax({
                    url: '/Exam/Delete?Id=' + id,
                    data: { Id: id },
                    success: function (r) {
                        if (r != true) {
                            alert("you can't delete Exam")
                        }
                        location.reload();
                    }
                });
            }
            function dlt(id) {
                var i = document.getElementById(id);
                i.style.display = "none"
            }
            function filldots(id) {
                var i = document.getElementById(id);
                if (i.style.display == "none")
                    i.style.display = "block";
                else
                    i.style.display = "none"
            }
            function Getexam() {
                var search = document.getElementById("search");
                if (search.value != "") {
                    $.ajax({
                        url: '/Exam/Search?SearchName=' + search.value,
                        type: 'GET',
                        dataType: 'Html',
                        data: { SearchName: search.Value },
                        success: function (r) {
                            $("#all").html(r);
                        }
                    });
                } else {
                    location.reload();
                }
            }
        </script>
    }
