@model System.Collections.Generic.List<int>

@{
    ViewBag.Title = "Exam has ended";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1> yor Degree is: @Model[0] / @Model[1] </h1>
    <h3 style="overflow:hidden"><a href="/Home">Return Home</a></h3>
</div>

