@model List<examination_system.Models.Question>

@{
    ViewBag.Title = "Questions";
}
<div style="margin:0 70px">
    <h2 class="text">Questions</h2>
</div>
<div>
    <span class="text lbel">search Question Body</span>
    <input id="search" class="text input" oninput="Getqb()" type="text" />
    <span class="text lbel">search Question class</span>
    <input id="searchqc" class="text input" oninput="Getqc()" type="text" />
</div>
<div style="width: 100%; height: auto;justify-content:center; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
    <div id="all" style="width: 80%; height: auto;justify-content:center; display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
        @foreach (var Question in Model)
        {
            if (Question != null)
            {
                @Html.Partial("_Question", Question, ViewData);
            }
        }
        @if (User.IsInRole("professor") || User.IsInRole("superadmin"))
        {
            <div class="pnladd col-sm-10" onclick="document.getElementById('add').click()">
                <a href="~/Question/Add" id="add"></a>
                <img src="~/Resources/Account/add.svg" class="Img" />
                <div>ADD NEW</div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function deleteclass(id) {
            alert("ARE YOU SURE TO DELETE USER")
            $.ajax({
                url: '/Question/Delete?Id=' + id,
                data: { Id: id },
                success: function (r) {
                    if (r != "True") {
                        alert("you can't delete Question")
                    } else {
                        location.reload();
                    }
                }
            });
        }
        function dlt(id) {
            var i = document.getElementById(id);
            i.style.display = "none"
        }
        function filldots(id) {
            var i = document.getElementById(id);
            if (i.style.display == "none")
                i.style.display = "block";
            else
                i.style.display = "none"
        }
        function Getqb() {
            var search = document.getElementById("search");
            if (search.value != "") {
                $.ajax({
                    url: '/Question/Search?SearchName=' + search.value,
                    type: 'GET',
                    dataType: 'Html',
                    data: { SearchName: search.Value },
                    success: function (r) {
                        $("#all").html(r);
                    }
                });
            } else {
                location.reload();
            }
        }
        function Getqc() {
            var search = document.getElementById("searchqc");
            if (search.value != "") {
                $.ajax({
                    url: '/Question/SearchClass?SearchName=' + search.value,
                    type: 'GET',
                    dataType: 'Html',
                    data: { SearchName: search.Value },
                    success: function (r) {
                        $("#all").html(r);
                    }
                });
            } else {
                location.reload();
            }
        }
    </script>
}
