@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Examination System</h3>

<p>
    Welcome to our online examination system,
</p>
<p>
    where we strive to provide a convenient and efficient platform
</p>
<p>
    for students and professionals alike to take exams and assess
</p>
<p>
    their knowledge and skills.
</p>
<p>
    Our platform is designed to offer a user-friendly interface,
</p>
<p>
    with a wide range of topics and subject areas to choose from.
</p>
<style>
    p {
        margin:0;
    }
</style>