@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    We're always here to help! If you have any questions or feedback about our examination system,
</p>
<p>
    please don't hesitate to reach out to us. You can contact us using the following methods:
</p>
<p>
    Email:<a href="mailto:ayymanmohamed32@gmail.com"> ayymanmohamed32@gmail.com </a>
</p>
<p>
    Phone: <a href="tel:+201100994175"> (+2) 01100994175 </a>
</p>
<p>
    Address: 123 Main St, Anytown, USA 12345
</p>
<p>
    We'll do our best to respond to your inquiry as soon as possible.
</p>
    <style>
        p {
            margin: 0;
        }
    </style>
