@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="all">
    <div >
    </div>
</div>
<style>
    .all {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background: url('/Resources/main.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .all > div {
        overflow: hidden;
        width: 90%;
        min-height: 77vh;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
</style>